<template name="tweetCard">
  <div class="row">
    <div class="col s1 right-align">
      <div class="row">
        <a href="#" class="uparrow"><i class="material-icons">arrow_upward</i></a>
      </div>
      <div class="row">
        <p>{{score}}</p>
      </div>
      <div class="row">
        <a href="#" class="downarrow"><i class="material-icons">arrow_downward</i></a>
      </div>
    </div>
    <div class="col s11">
      <h5>{{title}}</h5>
      <div class="card-panel">
        <p><b>{{tweetData.name}}</b> - @{{tweetData.handle}}</p>
        <p>{{tweetData.text}}</p>
        {{#if equals tweetData.media.type "video"}}
          <video class="responsive-video" controls>
            <source src="{{tweetData.media.url}}" type="video/mp4">
          </video>
        {{/if}}
        {{#if equals tweetData.media.type "gif"}}
          <video class="responsive-video" controls loop>
            <source src="{{tweetData.media.url}}" type="video/mp4">
          </video>
        {{/if}}
        {{#if equals tweetData.media.type "photo"}}
          <img class="responsive-img" src="{{tweetData.media.url}}">
        {{/if}}
      </div>
    </div>
  </div>
</template>